dataset
.idea
cleared_data
filtered_data

logs-06-01-2021
logs-14-12-2020
logs-17-12-2020
logs-30-12-2020

min_loss_checkpoint-14-12-2020
min_loss_checkpoint-17-12-2020

min_val_loss_checkpoint-14-12-2020
min_val_loss_checkpoint-17-12-2020

training_checkpoints-14-12-2020
training_checkpoints-17-12-2020
training_checkpoints-30-12-2020

__pycache__/
interpreter/__pycache__/
